<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layouts/base-layout :: head"></head>

<body>

    <nav th:replace="layouts/base-layout :: nav"></nav>
    
    <div class="container mt-5">
     <div class="row justify-content-center">
        <div class="col-6">
           <div class="alert alert-success text-center" th:if="${actorGuardado}" th:text="${actorGuardado}"></div> 
            <form th:action="@{/actors/save-actor}" th:object="${actor} " method="POST">


					<select class="form-select" th:field="*{pelicula}">
						<option th:value="${film.id}" th:text="${film.titulo}"></option>
					</select>

                    <h4 class="text-center mt-4">Actores</h4>
                    
                    <div class="form-group my-2">
                    <input type="text" th:field="*{nombre}" class="form-control" placeholder="Nombre" />
                    </div>
                    
                     <div class="form-group my-2">
                    <input type="text" th:field="*{apellidos}" class="form-control" placeholder="Apellidos"/> 
                    </div>
                    
                    <div class="form-group my-2">
                    <button type="submit" class="btn btn-secondary form-control">Guardar actor</button>
                    </div>
                    

				</form>
        </div>
     </div>
    
    </div>
    
         
    

</body>
</html>