 <!DOCTYPE html>
<html xlmns:th="https://www.thymeleaf.org">
<head th:replace="layouts/base-layout :: head"></head>

<body>

	<nav th:replace="layouts/base-layout :: nav"></nav>

	  

        <div class="container mt-5">
        
          <div class="row justify-content-center">
            <div class="col-6">
               <div class="alert alert-success text-center" th:if="${eliminarPelicula!=null}" th:text="${eliminarPelicula}"></div>
               <div class="alert alert-success text-center" th:if="${peliEditada!=null}" th:text="${peliEditada}"></div>
                <div class="alert alert-success text-center" th:if="${actorEditado!=null}" th:text="${actorEditado}"></div>
                <div class="alert alert-success text-center" th:if="${actorEliminado!=null}" th:text=${actorEliminado}></div>
                <div class="alert alert-success text-center" th:if="${actorGuardado!=null}" th:text=${actorGuardado}></div>
               
               <table class="table table-hover table-stripped text-center" >
                  <tbody>
                  <tr th:each=" peli: ${peliculas}">
                     <td th:text="${peli.titulo}"></td>
                     <td >
                     <a class="btn btn-danger " th:href="@{/admin/eliminar-pelicula/} + ${peli.id}">
                        <i class="fas fa-trash"></i>
                     </a>
                     </td>
                     
                      <td >
                     <a class="btn btn-warning " th:href="@{/admin/editar-form/} + ${peli.id}">
                        <i class="fas fa-pencil-alt"></i>
                     </a>
                     </td>
                     
                      <td >
                     <a class="btn btn-primary " th:href="@{/actors/add-actores/} + ${peli.id}">
                        <i class="fas fa-plus-circle"></i>
                     </a>
                     </td>
                     
                     <td>
                       <div th:each="actor: ${peli.actores}">
                         <small  th:text="${actor.nombre} + ' ' + ${actor.apellidos}" ></small>
                         <a th:href="@{/admin/editar-actores/} + ${actor.pelicula.id}" class="edit-actor">Editar</a>
                       </div>
                     
                     </td>
                     </tr>
                     </tbody>
                     
               
               
               
               </table>
            
            
            </div>
          
          
          
          </div>
        
        
        
        </div>
      

</body>
</html>