<!DOCTYPE html>
<html xlmns:th="https://thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>

	<div th:fragment="search-form">


		<div class="d-flex justify-content-center"></div>


		<div class="container my-5">
			<div class="d-flex justify-content-center align-items-center">

				<form th:action="@{/buscar}" th:object="${pelicula}" method="get">

					<div class="row mb-5">
						<div class="col-8">
							<input type="text" th:field="*{titulo}" class="form-control"
								autocomplete="off" />
						</div>



						<div class="col-auto">

							<button type="submit" class="btn btn-secondary">Buscar</button>

						</div>


					</div>

				</form>

			</div>

		</div>

	</div>


</body>
</html>