
<!DOCTYPE html>
<html xlmns:th="https://www.thymeleaf.org">
<head th:replace="layouts/base-layout :: head"></head>

<body>

	<nav th:replace="layouts/base-layout :: nav"></nav>

	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-6">
				<h2 th:if="${peliNoEncontrada !=null}" th:text="${peliNoEncontrada}"></h2>
				<div class="row justify-content-start" th:if="${peli != null}">
					<div class="col-5">
						<img th:src="@{'/uploads/' + ${peli.portada}}"
							th:alt="${peli.portada}" style="width:200px" />
					</div>

					<div class="col-7">



						<h5 th:if="${peli != null}" th:text="${peli.titulo}"></h5>
						<span>Estreno: </span>
							<small th:text="${#dates.format(peli.fechaEstreno, 'dd-MM-yyyy')}"></small>

						<div>
							Reparto: <span th:each="actor: ${peli.actores}"> 
							<span th:text="${actor.nombre} + ' ' + ${actor.apellidos} "></span>
							</span>
						</div>

						<div class="my-4">

							<a
								th:href="@{'/peliculas/cargar-peli-para-comentar/' + ${peli.id}}"
								class="btn btn-success"> Comentar</a>

							<div class="my-2"></div>

							<a th:href="@{'/peliculas/ver-comentarios/' + ${peli.id}}"
								class="btn btn-success"> Ver Comentarios</a>

						</div>


					</div>





				</div>

			</div>


		</div>


	</div>














</body>
</html>
