 <!DOCTYPE html>
<html xlmns:th="https://www.thymeleaf.org">
<head th:replace="layouts/base-layout :: head"></head>

<body>

   <nav th:replace="layouts/base-layout :: nav"></nav>

   <div class="conatiner mt-5">
      <div class="row justify-content-center">
         <div class="col-6 text-center">
         
         <div class="row-form">
         
              <form th:action="@{/peliculas/save-comentario}" th:object="${comentario}" method="POST">
              <h2 th:text="${comentario.pelicula.titulo}"></h2>
       
       
               <textarea th:field="*{texto}" class="form-control mb-2" rows="8"></textarea>
       
              <input type="hidden" th:value="${comentario.pelicula.id}"/>
       
               <button type="submit" class="btn btn-outline-success">Enviar</button>
       
       </form>
       
         
         </div> 
      </div>
   </div>
</div>


      
       
       
</body>
</html>